.swift-custom-btn {
  border-radius: 45px;
  background: var(--btn-background);
  font-size: var(--font-btn);
  color: var(--btn-text);
  font-weight: var(--font-weight-medium);
  font-family: "Open Sans";
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.8px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}