.swift-accounts-portfolio-main {
    width: 100%;
    height: calc(100% - 40px - 30px);
    overflow-x: hidden;
    overflow-y: auto;
    /* border-top: 0.5px solid #CCCCCC; */
    /* border-bottom: 0.5px solid #CCCCCC; */
    padding: 10px;
}

.swift-accounts-portfolio-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
    row-gap: 10px;
    width: 100%;
    border: 1px solid #e8e8e8;
    border-radius: 15px;
    box-shadow: 0 0 5px #e8e8e8;
}

/* Submenu */
.swift-accounts-portfolio-sub-menu {
    display: flex;
    justify-content: space-between;
    padding: 10px 10px;
    border-bottom: 1px solid #e8e8e8;
}

.swift-accounts-portfolio-sub-menu>div {
    display: flex;
    column-gap: 0px;
}

.swift-accounts-portfolio-sub-menu p {
    cursor: pointer;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 5px 15px;
    text-align: center;
    letter-spacing: -0.5px;
    color: #ccc;
    display: flex;
    column-gap: 5px;
    align-items: center;
}

.swift-accounts-portfolio-sub-menu p:hover {
    color: #011627;
}

.swift-accounts-portfolio-sub-menu p:hover svg {
    fill: #011627;
}

.swift-accounts-portfolio-sub-menu p svg {
    fill: #ccc;
}

.swift-accounts-portfolio-sub-menu p.active svg {
    fill: #011627;
}

.swift-accounts-portfolio-sub-menu p.active {
    background: none;
    border-radius: 35px;
    color: #011627;
    font-weight: 600;
    letter-spacing: -.65px;
}

/* Stocks DETAILS */

.swift-accounts-portfolio-content-stocks-info {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0 10px 10px 10px;
    row-gap: 12px;
    overflow-y: hidden;
}

.swift-accounts-portfolio-content-stocks-header {
    align-items: center;
    column-gap: 8px;
    display: flex;
    width: 100%;
    border-bottom: 1px solid #e8e8e8;
}

.swift-accounts-portfolio-content-stocks-header>p {
    background: none;
    border-radius: 35px;
    color: var(--btn-text);
    cursor: pointer;
    font-size: var(--font-small);
    font-style: normal;
    font-weight: 600;
    letter-spacing: -.65px;
    line-height: normal;
    padding: 5px 15px;
    text-align: center;
}

.swift-accounts-portfolio-dropdown-header {
    display: flex;
    justify-content: flex-end;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: -.55px;
    line-height: 1.5em;
    color: #011627;
    border-bottom: 0.5px solid rgba(1, 22, 39, 0.1);
    padding-bottom: 8px;
}

.swift-accounts-portfolio-dropdown-header-text {
    display: flex;
    justify-content: space-between;
    width: 92%;
}

.stocks-portfolio-management-dropdown-main {
    position: relative;
}

.stocks-portfolio-management-dropdown-header-row {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-bottom: 10px;
    border-bottom: 0.5px solid #0116271a;
    background: #fafafa;
    padding: 10px;
    border-radius: 10px;
}

.stocks-portfolio-management-dropdown-header-row-left {
    width: 8%;
    margin-right: 0px;
    display: flex;
    column-gap: 11px;
    align-items: center;
}

.stocks-portfolio-management-dropdown-header-row-title {
    color: #000;
    font-size: var(--font-small);
    font-style: normal;
    font-weight: var(--font-weight-light);
    line-height: normal;
    letter-spacing: -0.65px;
    cursor: pointer;
}

.stocks-portfolio-management-dropdown-header-row-right {
    display: flex;
    width: 92%;
    justify-content: space-between;
    column-gap: 0px;
    /* padding-right: 10px; */
}

.stocks-portfolio-management-dropdown-header-row-right p {
    color: var(--text-color);
    font-size: var(--font-small);
    font-style: normal;
    font-weight: var(--font-weight-medium);
    line-height: 15px;
    letter-spacing: -0.65px;
    margin: 0;
}

.stocks-portfolio-management-dropdown-row-container {
    position: static;
    width: 100%;
}

.stocks-portfolio-management-dropdown-row-ul {
    list-style: none;
    position: relative;
    margin: 0;
    padding: 0;
}

.stocks-portfolio-management-dropdown-row {
    display: flex;
    justify-content: space-between;
    padding: 10px 10px;
    margin: 3px 0;
    background: #ffffff;
    border-bottom: 1px solid #f1f1f1 !important;
    font-weight: 500;
}

.stocks-portfolio-management-dropdown-row-left-title {
    color: var(--text-color);
    font-size: var(--font-small);
    font-style: normal;
    font-weight: var(--font-weight-medium);
    line-height: 15px;
    letter-spacing: -0.65px;
    width: 8%;
}

.stocks-portfolio-management-dropdown-row-left-subtitle {
    width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: rgba(1, 22, 39, 0.5);
    font-size: var(--font-small);
    font-style: normal;
    font-weight: var(--font-weight-light);
    line-height: 20px;
    letter-spacing: -0.6px;

}

.stocks-portfolio-management-dropdown-row-right {
    font-size: 12px;
    font-style: normal;
    letter-spacing: -.55px;
    line-height: 15px;
    font-weight: var(--font-weight-light);
    display: flex;
    width: 92%;
    justify-content: space-between;
    color: var(--text-color);
}

.swift-account-chart-wrapper {
    height: calc(95vh - 50px);
    width: calc(95vw - 20px);
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
}

/* ================================================= */
.swift-portfolio-trades,
.swift-portfolio-cash {
    color: #011627;
    font-style: normal;
    font-weight: var(--font-weight-light);
    letter-spacing: -1px;
    line-height: normal;
    text-align: center;
    width: 100%;
    padding-left: 10px;
    overflow: hidden;
    height: 100%;
}

.swift-portfolio-trades table {
    width: 75vw;
    table-layout: fixed;
    border-collapse: collapse;
}

.swift-portfolio-trades>p,
.swift-portfolio-cash>p {
    font-weight: 600;
    text-align: center;
    font-size: 14px;
}

.swift-portfolio-trades table tbody td:nth-child(1),
.swift-portfolio-trades table th:nth-child(1) {
    width: 2% !important;
}

.swift-portfolio-trades table tbody td:nth-child(2),
.swift-portfolio-trades table th:nth-child(2) {
    width: 4% !important;
}

.swift-portfolio-trades table tbody td:nth-child(3),
.swift-portfolio-trades table th:nth-child(3) {
    width: 5% !important;
}

.swift-portfolio-trades table tbody td:nth-child(4),
.swift-portfolio-trades table th:nth-child(4) {
    width: 4% !important;

}

.swift-portfolio-trades table tbody td:nth-child(5),
.swift-portfolio-trades table th:nth-child(5) {
    width: 3% !important;
}

.swift-portfolio-trades table tbody td:nth-child(6),
.swift-portfolio-trades table th:nth-child(6) {
    width: 3% !important;
}

.swift-portfolio-trades table tbody td:nth-child(7),
.swift-portfolio-trades table th:nth-child(7) {
    width: 4% !important;
}

.swift-portfolio-trades table tbody td:nth-child(8),
.swift-portfolio-trades table th:nth-child(8) {
    width: 3% !important;
}

.swift-portfolio-trades table tbody td:nth-child(9),
.swift-portfolio-trades table th:nth-child(9) {
    width: 3% !important;
}

.swift-portfolio-trades table tbody td:nth-child(10),
.swift-portfolio-trades table th:nth-child(10) {
    width: 3% !important;
}

.swift-portfolio-trades table tbody td:nth-child(11),
.swift-portfolio-trades table th:nth-child(11) {
    width: 6% !important;
}

.swift-portfolio-trades table tbody td:nth-child(12),
.swift-portfolio-trades table th:nth-child(12) {
    width: 2% !important;
}

.swift-portfolio-table-wrapper {
    width: fit-content;
    height: 95%;
    overflow-y: auto;
    padding-right: 20px;
}

.swift-portfolio-table-wrapper::-webkit-scrollbar {
    width: 0px;
}

.swift-portfolio-table-wrapper::-webkit-scrollbar-thumb {
    background-color: #e8e8e8;
    border-radius: 34px;
    height: 4px;
}

.swift-portfolio-table-wrapper::-webkit-scrollbar-track {
    background-color: #eee;
}

.swift-portfolio-table-wrapper::-webkit-scrollbar-thumb:hover {
    background-color: #ccc;
}

.swift-portfolio-trades .swift-portfolio-trades-buttons {
    display: flex;
    column-gap: 10px;
    justify-content: flex-end;
    padding-right: 20px;
    padding-bottom: 10px;
    /* padding-top: 20px; */
    /* margin-top: -20px; */
}

.swift-portfolio-trades .swift-portfolio-trades-buttons>p,
.swift-portfolio-trade-btn {
    text-align: center;
    cursor: pointer;
    background: var(--btn-background);
    padding: 5px 15px;
    border-radius: 35px;
    font-weight: 600;
    color: var(--btn-text);
    font-size: var(--font-small);
    letter-spacing: -0.5px;
    width: max-content;
}

.swift-portfolio-trades-buttons>div {
    text-align: center;
    cursor: pointer;
    padding: 5px 0px;
    border-radius: 35px;
    font-weight: 600;
    color: #011627;
    font-size: var(--font-small);
    letter-spacing: -0.5px;
    width: max-content;
}

.swift-input-modal-content {
    background-color: white;
    height: 100%;
    column-gap: 14px;
    width: 400px;
    border-radius: 10px;
    padding: 10px;
    padding-top: 0px;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.swift-modal-cash-input {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    width: 95%;
}

.swift-modal-trade-input {
    display: flex;
    flex-direction: column;
    row-gap: 0px;
    width: 95%;
}

.swift-trade-modal-body {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.swift-modal-apply-btn {
    display: flex;
    justify-content: flex-end;
    padding: 10px 0 5px 0;
}

.swift-modal-apply-btn>button {
    /* width: auto;
    height: auto; */
    /* display: flex;
    align-items: center;
    justify-items: center; */
    /* padding: 10px 30px; */
}

.swift-portfolio-process-trade-btn {
    display: flex;
    justify-content: flex-end;
}

.swift-portfolio-management-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: auto;
    row-gap: 20px;
}

.swift-portfolio-management-dropdown-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: auto;
    row-gap: 30px;
}

.swift-portfolio-management-dropdown-wrapper::-webkit-scrollbar {
    width: 0px;
}

.swift-portfolio-management-dropdown-wrapper::-webkit-scrollbar-thumb {
    background-color: #e8e8e8;
    border-radius: 34px;
    height: 4px;
}

.swift-portfolio-management-dropdown-wrapper::-webkit-scrollbar-track {
    background-color: #eee;
}

.swift-portfolio-management-dropdown-wrapper::-webkit-scrollbar-thumb:hover {
    background-color: #ccc;
}

.swift-show-portfolio-modal {
    justify-content: end;
}

.swift-show-portfolio-modal-wrapper {
    background-color: white;
    height: 100vh;
    column-gap: 14px;
    width: 350px;
    border-radius: 10px 0 0 10px;
    padding: 10px;
    padding-top: 0px;
    display: flex;
    flex-direction: column;
    justify-self: end;
}

.swift-show-portfolio-modal-content {
    width: 100%;
    background: #fff;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

.swift-show-portfolio-modal-strategy-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: auto;
    align-items: flex-start;
    padding-bottom: 10px;
}

.swift-portfolio-name {
    color: var(--text-color);
    font-family: "Open Sans";
    font-size: 13px;
    font-style: normal;
    font-weight: var(--font-weight-heavy);
    line-height: normal;
    letter-spacing: -0.65px;
    padding: 5px 15px 5px 0;
}