
.stocks-dropdown-header-left {
  display: flex;
  column-gap: 11px;
  align-items: center;
}

.stocks-dropdown-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 10px;
  border-bottom: 0.5px solid rgba(1, 22, 39, 0.1);
}

.stocks-dropdown-header-right {
  display: flex;
  column-gap: 23px;
  padding-right: 5px;
}

.stocks-dropdown-header-right p {
  color: var(--text-color);
  text-align: right;
  font-size: var(--font-small);
  font-style: normal;
  font-weight: var(--font-weight-medium);
  line-height: 20px; 
  letter-spacing: -0.65px;
}
.stocks-dropdown-heading {
  color: #000;
  font-size: var(--font-small);
  font-style: normal;
  font-weight: var(--font-weight-light);
  line-height: normal;
  letter-spacing: -0.65px;
  cursor: pointer;
}

.stock-dropdown-icon.down-arrow {
  transform: rotate(180deg);
  transition: transform 0.5s ease;
}

.stock-dropdown-icon.up-arrow {
  transform: rotate(0deg);
  transition: transform 0.5s ease;
}

.stocks-dropdown-options {
  list-style: none;
  position:relative;
  max-height: 156px;
  /* overflow-y: auto; */
}

.stocks-dropdown-option-details {
  /* padding: 6px 0px 6px 0px;
  display: flex;
  justify-content: space-between;
  flex-direction: column; */


  display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 10px;
    margin: 3px 0px;
    background: #ffffff;
    border-radius: 10px;
    BORDER: 1px solid #ffffff;
}
  /* border-bottom: 0.5px solid rgba(1, 22, 39, 0.1); */

.stock-dropdown-option-details-active{
  display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 10px;
    margin: 3px 0px;
    background: #fafafa;
    border-radius: 10px;
    BORDER: 1px solid #E8E8E8;
}

.stocks-dropdown-option-left {
  display: flex;
  flex-direction: column;
  /* width: 50%; */
  width: 100%;
}

.stocks-dropdown-option-up {
  display: flex;
  /* column-gap: 30px; */
  justify-content: space-between;
}

.stocks-dropdown-option-down {
  /* width: 140px; */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: rgba(1, 22, 39, 0.5);
  font-size: var(--font-small);
  font-style: normal;
  font-weight: var(--font-weight-light);
  line-height: 20px;
  letter-spacing: -0.6px;
}
.stocks-dropdown-option-title {
  color: rgba(1, 22, 39, 0.7);
  font-size: var(--font-small);
  font-style: normal;
  font-weight: var(--font-weight-heavy);
  line-height: 20px; /* 153.846% */
  letter-spacing: -0.65px;
  width: 30%;
}

.stocks-dropdown-option-change {
  /* display: flex;
  column-gap: 3px; */
/* 
  display: grid;
  grid-template-columns: repeat(2, 40px); 
  column-gap: 10px;
  text-align: center; */
  /* display: flex;
  width: 55%;
  justify-content:space-between; */

  display: flex;
  width:70%;
  /* column-gap: 15px; */
  justify-content: space-between;

  color: var(--text-color);
    font-size: 12px;
    font-style: normal;
    line-height: 20px;
    letter-spacing: -0.55px;

}



.stocks-dropdown-option-change-1 {
  color: var(--text-color);
  font-size: 12px;
  font-style: normal;
  /* font-weight: var(--font-weight-light); */
  line-height: 20px;
  letter-spacing: -0.55px;
  width: 30%;
}
.stocks-dropdown-option-change-2 {
  /* color: #00ec6d; */
  font-size: var(--font-small);
  font-style: normal;
  /* font-weight: var(--font-weight-medium); */
  line-height: 20px;
  letter-spacing: -0.6px;
  width: 15%;
}

.stocks-dropdown-option-info {
  display: flex;
  column-gap: 26px;
  padding-right: 5px;
  /* width: 100%; */
}

.stocks-dropdown-option-info p {
  color: rgba(1, 22, 39, 0.7);
  text-align: right;
  font-size: var(--font-small);
  font-style: normal;
  font-weight: var(--font-weight-medium);
  line-height: 20px; 
  letter-spacing: -0.65px;
}


.stocks-dropdown-main {
  position: relative;
  /* overflow: auto;
  max-height: 145px;  */
}

.stocks-dropdown-options-container {
  position: static;
  top: 100%;
  left: 0;
  width: 100%;
}

.stocks-dropdown-options {
  list-style: none;
  position: relative;
  margin: 0;
  padding: 0;
}

.stocks-dropdown-main::-webkit-scrollbar {
  width: 5px;
}

.stocks-dropdown-main::-webkit-scrollbar-thumb {
  background-color: #E8E8E8;
  border-radius: 34px;
  height: 98px;
}

.stocks-dropdown-main::-webkit-scrollbar-track {
  background-color: #eee;
}

.stocks-dropdown-main::-webkit-scrollbar-thumb:hover {
  background-color: #ccc; 
}


.stocks-dropdown-option-info {
  display: flex;
  justify-content: space-between;
  padding-right: 5px;

  /* display: grid; */
  /* grid-template-columns: repeat(3, 50px);  */
  /* column-gap: 30px;  */
  /* column-gap: 15px; */
  /* place-items: center; */
}

.stocks-dropdown-option-info p {
  flex: 1; 
  color: rgba(1, 22, 39, 0.7);
  text-align: right;
  font-size: var(--font-small);
  font-style: normal;
  font-weight: var(--font-weight-medium);
  line-height: 20px;
  letter-spacing: -0.65px;
  margin: 0; 
}


.stocks-dropdown-header-right {

  padding-right: 5px;
  width: 28%;
}

.stocks-dropdown-header-right p {
  /* flex: 1; */
  color: var(--text-color);
  /* text-align: right; */
  font-size: var(--font-small);
  font-style: normal;
  font-weight: var(--font-weight-medium);
  line-height: 20px;
  letter-spacing: -0.65px;
  margin: 0;
}

.green-text {
  color: #00EC6D  !important;
}

.red-text {
  color: #FF003D !important;
}
.normal-text{
  color: var(--text-color) !important;
}

.gray-text{
  color: #011627b3  ;
  font-weight: var(--font-weight-light);
}


@media screen and (max-width: 1325px) {
  .stocks-dropdown-option-info,
  .stocks-dropdown-header-right {
    /* grid-template-columns: repeat(3, 40px); */
    column-gap: 0;
  }
  .swift-accounts-content-stocks-checkbox {
    column-gap: 0;
  }
  .swift-accounts-content-stocks-text {
    column-gap: 0;
    /* grid-template-columns: repeat( 3, 42px ); */
  }
  .swift-accounts-content-stocks-right{
    grid-template-columns: repeat( 2, 40px );

  }
  .stocks-dropdown-option-left{
    width: 35%;
  }
}


@media screen and (max-width: 1134px) {
  .swift-accounts-content-div-2 {
    width: 44%;
  }
  .swift-accounts-content-div-1{
    width: 55%;
  } 
}

@media screen and (max-width: 768px) {
  .stocks-dropdown-option-info,
  .stocks-dropdown-header-right {
    grid-template-columns: repeat(3, 50px);
    column-gap: 8px;
  }
  .swift-accounts-content-stocks-checkbox {
    column-gap: 8px;
  }
  .swift-accounts-content-stocks-text {
    column-gap: 8px;
    grid-template-columns: repeat( 3, 50px );
  }
  .swift-accounts-content-stocks-right{
    grid-template-columns: repeat( 2, 50px );

  }
}

@media screen and (max-width: 553px) {
  .stocks-dropdown-option-info,
  .stocks-dropdown-header-right {
    grid-template-columns: repeat(3, 40px);
    column-gap: 0;
  }
  .swift-accounts-content-stocks-checkbox {
    column-gap: 0;
  }
  .swift-accounts-content-stocks-text {
    column-gap: 0;
    grid-template-columns: repeat( 3, 40px );
  }
  .swift-accounts-content-stocks-right{
    grid-template-columns: repeat( 2, 45px );

  }
}



