.stocks-dropdown-header-left {
  display: flex;
  column-gap: 11px;
  align-items: center;
  width: 35%;
}

.stocks-dropdown-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 10px;
  border-bottom: 0.5px solid #0116271a;
  background: #fafafa;
  padding: 10px;
  /* border-radius: 5px; */
}

.stocks-dropdown-header-right {
  display: flex;
  column-gap: 23px;
  padding-right: 5px;
}

.stocks-dropdown-heading {
  color: #000;
  font-size: var(--font-small);
  font-style: normal;
  font-weight: var(--font-weight-light);
  line-height: normal;
  letter-spacing: -0.65px;
  cursor: pointer;
}

.stock-dropdown-icon.down-arrow {
  transform: rotate(180deg);
  transition: transform 0.5s ease;
}

.stock-dropdown-icon.up-arrow {
  transform: rotate(0deg);
  transition: transform 0.5s ease;
}

.stocks-dropdown-options {
  list-style: none;
  position: relative;
  /* max-height: 156px; */
  /* overflow-y: auto; */
}

.stocks-dropdown-option-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 10px;
  margin: 3px 0;
  background: #ffffff;
  /* border-radius: 10px; */
  border-bottom: 1px solid #f1f1f1 !important;
  font-weight: 500;
}


.stock-dropdown-option-details-active {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 10px;
  margin: 3px 0;
  background: #fafafa;
  /* border-radius: 10px; */
  border-bottom: 1px solid #f1f1f1 !important;
  font-weight: 500;
}

.stocks-dropdown-option-left {
  display: flex;
  flex-direction: column;
  /* width: 50%; */
  width: 100%;
}

.stocks-dropdown-option-up {
  display: flex;
  /* column-gap: 30px; */
  justify-content: space-between;
}

.stocks-dropdown-option-down {
  width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: rgba(1, 22, 39, 0.5);
  font-size: var(--font-small);
  font-style: normal;
  font-weight: var(--font-weight-light);
  line-height: 20px;
  letter-spacing: -0.6px;
}

.stocks-dropdown-option-title {
  color: var(--text-color);
  font-size: var(--font-small);
  font-style: normal;
  font-weight: var(--font-weight-medium);
  line-height: 15px;
  /* 153.846% */
  letter-spacing: -0.65px;
  width: 30%;
}

.stocks-dropdown-option-change {
  /* display: flex;
  column-gap: 3px; */
  /* 
  display: grid;
  grid-template-columns: repeat(2, 40px); 
  column-gap: 10px;
  text-align: center; */
  /* display: flex;
  width: 55%;
  justify-content:space-between; */

  display: flex;
  width: 70%;
  /* column-gap: 15px; */
  justify-content: space-between;
  color: var(--text-color);
  font-size: 12px;
  font-style: normal;
  line-height: 20px;
  letter-spacing: -0.55px;

}



.stocks-dropdown-option-change-1 {
  color: var(--text-color);
  font-size: 12px;
  font-style: normal;
  /* font-weight: var(--font-weight-light); */
  line-height: 20px;
  letter-spacing: -0.55px;
  width: 25%;
}

.stocks-dropdown-option-change-2 {
  /* color: #00ec6d; */
  font-size: var(--font-small);
  font-style: normal;
  /* font-weight: var(--font-weight-medium); */
  line-height: 15px;
  letter-spacing: -0.6px;
  width: 25%;
}

.stocks-dropdown-option-info {
  display: flex;
  column-gap: 26px;
  padding-right: 5px;
  /* width: 100%; */
}

.stocks-dropdown-option-info p {
  color: rgba(1, 22, 39, 0.7);
  text-align: right;
  font-size: var(--font-small);
  font-style: normal;
  font-weight: var(--font-weight-medium);
  line-height: 20px;
  letter-spacing: -0.65px;
}


.stocks-dropdown-main {
  position: relative;
  /* overflow: auto;
  max-height: 145px;  */
}

.stocks-dropdown-options-container {
  position: static;
  top: 100%;
  left: 0;
  width: 100%;
}

.stocks-dropdown-options {
  list-style: none;
  position: relative;
  margin: 0;
  padding: 0;
}

.stocks-dropdown-main::-webkit-scrollbar {
  width: 5px;
}

.stocks-dropdown-main::-webkit-scrollbar-thumb {
  background-color: #E8E8E8;
  border-radius: 34px;
  height: 98px;
}

.stocks-dropdown-main::-webkit-scrollbar-track {
  background-color: #eee;
}

.stocks-dropdown-main::-webkit-scrollbar-thumb:hover {
  background-color: #ccc;
}


.stocks-dropdown-option-info {
  display: flex;
  justify-content: space-between;
  padding-right: 5px;

  /* display: grid; */
  /* grid-template-columns: repeat(3, 50px);  */
  /* column-gap: 30px;  */
  /* column-gap: 15px; */
  /* place-items: center; */
}

.stocks-dropdown-option-info p {
  flex: 1;
  color: rgba(1, 22, 39, 0.7);
  text-align: right;
  font-size: var(--font-small);
  font-style: normal;
  font-weight: var(--font-weight-medium);
  line-height: 20px;
  letter-spacing: -0.65px;
  margin: 0;
}


.stocks-dropdown-header-right {

  padding-right: 5px;
  width: 65%;
  display: flex;
  justify-content: flex-end;
}

.stocks-dropdown-header-right p {
  /* flex: 1; */
  color: var(--text-color);
  /* text-align: right; */
  font-size: var(--font-small);
  font-style: normal;
  font-weight: var(--font-weight-medium);
  line-height: 15px;
  letter-spacing: -0.65px;
  margin: 0;
  width: 50%;
  text-align: start;
}

.green-text {
  color: #00EC6D !important;
}

.red-text {
  color: #FF003D !important;
}

.normal-text {
  color: var(--text-color) !important;
}

.gray-text {
  color: #011627b3;
  font-weight: var(--font-weight-light);
}

.portfolio-dropdown-column {
  width: 4% !important;
  text-align: right !important;
  /* display: flex;
  justify-content: flex-end;
  align-items: center;
  column-gap: 2px; */
}

.portfolio-dropdown-column:nth-child(1),
.portfolio-dropdown-column:nth-child(6),
.portfolio-dropdown-column:nth-child(7),
.portfolio-dropdown-column:nth-child(16) {
  /* width: 5% !important; */
}

.portfolio-dropdown-column:nth-child(14) {
  width: 7% !important;
}

.portfolio-dropdown-column:nth-child(4) {
  width: 6% !important;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  column-gap: 4px;
}

.portfolio-dropdown-column:nth-child(4)>img {
  width: 15px !important;
  height: 15px !important;
  display: flex;
  align-self: center;
}

.portfolio-dropdown-column:nth-child(15) {
  width: 10% !important;
}

.portfolio-dropdown-column:nth-child(5),
.portfolio-dropdown-column:nth-child(9) {
  width: 7% !important;
}

.portfolio-dropdown-column:nth-child(13) {
  width: 9% !important;
}

.portfolio-dropdown-column label {
  display: none;
}


.portfolio-dropdown-column:nth-child(1),
.portfolio-dropdown-column:nth-child(7),
.portfolio-dropdown-column:nth-child(12),
.portfolio-dropdown-column:nth-child(16) {
  /* font-size: 12px !important; */
  /* width: 5% !important; */
  /* opacity: 0.7 !important; */
}

.portfolio-dropdown-column:nth-child(3) {
  /* width: 3.5% !important; */
  /* font-size: 10px !important; */
}

.portfolio-dropdown-column:last-child {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 30px !important;
}

.portfolio-dropdown-column>img {
  width: 20px;
  height: 20px;
  cursor: pointer;

}

.swift-accounts-portfolio-inflow-input {
  display: flex;
  align-items: center;
  column-gap: 10px;
  margin-left: 10px;
}

.stocks-dropdown-option-change,
.stocks-dropdown-option-change-1 {
  /* color: var(--text-color); */
  font-size: 12px;
  font-style: normal;
  letter-spacing: -.55px;
  line-height: 15px;
  font-weight: var(--font-weight-light);
}

.stocks-portfolio-dropdown-option-info p {
  flex: none !important;

}

.stocks-portfolio-dropdown-option-info {
  padding: 0 !important;
  column-gap: 0 !important;
}

.delete-hover-blue:hover path {
  /* color: blue; */
  fill: blue;
}

.run-hover-blue:hover path,
.run-hover-blue:hover circle {
  stroke: blue;
  /* fill: blue; */
}

.swift-symbol-input-model {
  align-items: center;
}

@media screen and (max-width: 1325px) {

  .stocks-dropdown-option-info,
  .stocks-dropdown-header-right {
    /* grid-template-columns: repeat(3, 40px); */
    column-gap: 0;
  }

  .swift-accounts-content-stocks-checkbox {
    column-gap: 0;
  }

  .swift-accounts-content-stocks-text {
    column-gap: 0;
    /* grid-template-columns: repeat( 3, 42px ); */
  }

  .swift-accounts-content-stocks-right {
    grid-template-columns: repeat(2, 40px);

  }

  .stocks-dropdown-option-left {
    width: 35%;
  }
}


@media screen and (max-width: 1134px) {
  .swift-accounts-content-div-2 {
    width: 44%;
  }

  .swift-accounts-content-div-1 {
    width: 55%;
  }
}

@media screen and (max-width: 768px) {

  .stocks-dropdown-option-info,
  .stocks-dropdown-header-right {
    grid-template-columns: repeat(3, 50px);
    column-gap: 8px;
  }

  .swift-accounts-content-stocks-checkbox {
    column-gap: 8px;
  }

  .swift-accounts-content-stocks-text {
    column-gap: 8px;
    grid-template-columns: repeat(3, 50px);
  }

  .swift-accounts-content-stocks-right {
    grid-template-columns: repeat(2, 50px);

  }
}

@media screen and (max-width: 553px) {

  .stocks-dropdown-option-info,
  .stocks-dropdown-header-right {
    grid-template-columns: repeat(3, 40px);
    column-gap: 0;
  }

  .swift-accounts-content-stocks-checkbox {
    column-gap: 0;
  }

  .swift-accounts-content-stocks-text {
    column-gap: 0;
    grid-template-columns: repeat(3, 40px);
  }

  .swift-accounts-content-stocks-right {
    grid-template-columns: repeat(2, 45px);

  }
}