.swift-accounts-strategy {
  width: 97%;
  flex-shrink: 0;
  /* border-radius: 10px; */
  /* border: 1px solid rgba(1, 22, 39, 0.05); */
  padding: 10px 13px;
  cursor: pointer;
  /* margin-right: 10px; */
  /* border-bottom: 0.5px solid #CCCCCC; */
}

.swift-accounts-strategy-active {
  background: #fafafa;
  color: #fff;
  cursor: pointer;
  flex-shrink: 0;
  padding: 10px 10px;
  width: 97%;
  border-radius: 15px;
  border: none;
}

.swift-accounts-strategy-content {
  color: rgba(1, 22, 39, 0.9);
  font-size: var(--font-small);
  font-style: normal;
  font-weight: var(--font-weight-light);
  line-height: normal;
  letter-spacing: -0.6px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.swift-accounts-strategy-content.isClicked {
  color: rgba(1, 22, 39, 0.3);
}

.swift-accounts-strategy-content p {
  white-space: normal;
}

.swift-accounts-strategy-content p:nth-child(2) {
  white-space: normal;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.swift-accounts-strategy-delete {
  color: #011627b3;
  row-gap: 5px;
  display: flex;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  /* justify-content: space-between; */
  letter-spacing: -0.7px;
  line-height: normal;
  margin-top: 5px;
  flex-direction: column;
}

.swift-accounts-strategy-delete div {
  display: flex;
  column-gap: 20px;
  justify-content: flex-end;
}

.swift-accounts-strategy-delete p:hover {
  cursor: pointer;
}

/* .swift-accounts-content-stocks-text-left-sub-div .portfolio-dropdown-column {
  width: 40px !important;
} */